.btn{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.allbtn{
    margin-left: 40px;
    margin-right: 40px;
   /* --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
  */
}

#sorttitle{
    margin-left: 85px;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}

#logoname{
    margin-left: 5px;
}

#logo{
    margin-left: 5px;
}

.btn button:hover,.btn button:visited{
    color:green;
    border:1px solid green;
    background-color:rgba(238, 238, 238, 0.5);
}

@media (max-width: 990px) 
{
    .infoBoxcontent{
        display:flex;
        flex-direction:column;
        /*justify-content: center;*/   
    }

    .infoBoxcontent div{
        flex-basis: 200px;
        width:70vw;
        margin:10px;
    }

    .infoBoxcontent h2{
        font-size: 30px;;
    }


    #sorttitle{
        margin-top: -40px !important;

    }

    .btn {
        
        display: flex;
        justify-content: space-between;
    }

    #btnone{
        margin-left: -18px;
        margin-right: 40px;
    }

    #btntwo{

        margin-left: 200px;
    }

    #btnfour{
        position: absolute !important;
        margin-left: -20px;
        margin-top: 90px;
    }

    #btnfive{
        position: absolute !important;
        margin-left: 160px;
        margin-top: 90px;
    }

    .tableData 
    {
        margin-top: 70px !important;
        overflow-y: auto;
        overflow-x: auto;
        
    
    }
  }